*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #58545411;
    padding: 5px 20px 15px 20px;
    border: 1px solid grey;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"],
select,textarea{
    margin: 10px;
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 5px;
}
fieldset{
    background-color: #ffff;
    border: 1px solid rgb(229, 227, 227);
    border-radius: 5px;
}
.heading{
    text-align: center;
}
button{
    background-color: #7ab98c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: #4caf84;
}
